form {
    ul {
        list-style: none;
        margin: 0;
        li {
            color: #f56565;
            font-size: .75rem;
            font-style: italic;
        }
    }
    input:focus {
        box-shadow: 0 0 0 3px rgba(66,153,225,.5);
    }
    input:focus {
      outline: 0;
    }
}

.mn-danger-alert {
    --tw-text-opacity: 1;
    color: rgb(176 35 58/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(250 229 233/var(--tw-bg-opacity));
}