<div class="block border-l border-solid border-slate-300 pl-8 relative pb-6">
    <p class="text-slate-400 text-xs"> {{date}} </p>
    <a href="{{link}}" class="text-gray-700 hover:text-primary">{{title}}</a>
    <span class="z-10 absolute rounded bg-slate-300 h-2 w-2 top-0 left-[-4px]"></span>
</div>